* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 40px;
  margin: 20px;
}

.container form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 0;
}

.container form input {
  margin-right: 12px;
}

.container ul {
  margin-top: 30px;
  list-style-type: none;
}

.flex-column {
  flex-direction: column;
}

.messages {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.error {
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.success {
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px;
}